@import "reset";
@import "variables/global";

:root {
  --app-max-width: 1366px;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background: var(--bg-app);
  overflow: hidden;
}
