@use "reset";
@use "variables/global";
@use "theme/light";
@use "theme/dark";
@use "../../shared/assets/fonts/Roboto/Roboto.scss";

:root {
  --app-max-width: 1366px;
}

.app {
  scrollbar-width: none;

  min-height: 100vh;
  min-height: 100dvh;
  min-width: 100vw;
  color: rgb(var(--primary-color));
}

body {
  background: var(--bg-app);
  color: rgb(var(--primary-color));
}