* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  &::-webkit-scrollbar {
    width: 1em;
    height: 1em;
  }
  &::-webkit-scrollbar-button {
    background: #ccc;
  }
  &::-webkit-scrollbar-track-piece {
    background: rgb(255, 255, 255);
  }
  &::-webkit-scrollbar-thumb {
    background: #eee;
  }
}
