.PageLoader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - var(--navbar-height));

  @media (max-width: 625px) {
    height: 100%;
  }
}

.icon {
  max-width: 155px;
}