$chatWidth: var(--chat-width);
$animationTime: 0.3s;

@media (max-width: 625px) {
  $chatWidth: 100%;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: $chatWidth;
  height: 100%;
  transition: width $animationTime;

  @media (max-width: 625px) {
    height: 50%;
  }

  &.collapsed {
    width: 1px;

    .chat {
      visibility: hidden;
      opacity: 0;
      border-width: 0;
      pointer-events: none;
    }
  }
}

.chat {
  height: 100%;
  margin-top: var(--header-height);
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  border-left: var(--box-border);
  overflow: hidden;
  transition: opacity $animationTime;
  opacity: 1;
}