$chatWidth: var(--chat-width);
$animationTime: 0.3s;

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: $chatWidth;
  height: 100vh;
  transition: width $animationTime;
  &.collapsed {
    width: 1px;

    .chat {
      opacity: 0;
    }
  }
}

.chat {
  height: 100%;
  margin-top: var(--header-height);
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  border-top: var(--box-border);
  border-left: var(--box-border);
  overflow: hidden;
  transition: opacity $animationTime;
  opacity: 1;
}
