$chatWidth: var(--chat-width);
$animationTime: 0.3s;

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: $chatWidth;
  height: 100%;
  transition: width $animationTime, height $animationTime;
  background: var(--bg-app);

  @media (max-width: 625px) {
    flex-shrink: 0;
    height: min(50%, $chatWidth);
    width: 100%;
    overflow: auto;
  }

  &.collapsed {
    width: 1px;

    @media (max-width: 625px) {
      height: var(--header-height);
      width: 100%;
    }

    .chat {
      visibility: hidden;
      opacity: 0;
      border-width: 0;
      pointer-events: none;
    }
  }
}

.chat {
  height: 100%;
  margin-top: var(--header-height);
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  border-left: var(--box-border);
  overflow: hidden;
  transition: opacity $animationTime;
  opacity: 1;

  @media (max-width: 625px) {
    border-left: none;
  }
}