@import "https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap";

:root {
  --font-family-main: "Balsamiq Sans", cursive, serif;

  --font-size-s: 12px;
  --font-line-s: 16px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --navbar-height: 56px;
  --footer-height: 60px;

  --modal-z-index: 100;

  --overlay-color: rgb(0 0 0 / 40%);
}
