.inputWrapper {
  width: 100%;
}
.input {
  position: absolute;
  background-color: rgb(var(--bg-primary-color));
  width: 100%;
  bottom: 0;
}

.form {
  position: relative;
}

.selectInputFile {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}
