.footer {
  border-top: var(--box-border);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;

  @media (max-width: 385px) {
    flex-direction: column !important;
    align-items: start;
  }
}
