.player {
  position: relative;
  width: 100%;
  height: 100%;
}

.video {
  z-index: 0;
  width: 100%;
  height: 100%;
}

.tooltip {
  z-index: 1;
  position: absolute;
  transition: opacity 0.15s;
  opacity: 1;
  bottom: 0;
  padding: 8px;
  width: calc(100% - 16px);
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1fr) 1fr;
}

.tooltipShadow {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  .tooltipShadowBottom {
    box-shadow: 0 0 8em 2em rgb(0, 0, 0);
  }
}

.customtooltip {
  bottom: auto;
  top: 0;
}
.tooltipVolume {
  width: 100%;
}

.closed {
  opacity: 0;
}
.cursorHide {
  cursor: none;
}
