$symbolHeight: 96px;
$symbolStroke: 24px;

.TicTacToeField {
  border-collapse: collapse;
  table,
  tbody,
  tr,
  td {
    display: flex;
  }

  >tr {
    >td {
      border: 2px solid gray;
    }

    >td:first-child {
      border-left: none;
    }

    >td:last-child {
      border-right: none;
    }

    &:first-child td {
      border-top: none;
    }

    &:last-child td {
      border-bottom: none;
    }
  }
}

.fieldWinner {
  position: relative;

  tr {
    visibility: hidden;
  }

  &.circle {
    &::after {
      top: $symbolStroke;
      left: $symbolStroke;
      content: '';
      position: absolute;
      height: $symbolHeight;
      border: $symbolStroke solid;
      aspect-ratio: 1;
      border-radius: 50%;
      border-color: #ee6677;
    }
  }

  &.cross {

    &::after,
    &::before {
      top: 0;
      left: calc(50% - $symbolStroke/2);
      content: '';
      position: absolute;
      height: calc($symbolHeight*sqrt(4));
      width: $symbolStroke;
      background: #18BC9C;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
