.RoomUsers {
  display: flex;
  align-items: center;
  height: var(--header-height);
  flex-shrink: 0;
  border-bottom: var(--box-border);
}

.users {
  margin: 0 8px;
}

.roomName {
  width: 100%;
  height: 100%;
  text-align: center;
  border-left: var(--box-border);
}

.localUser{
  position: relative;
}