.stream {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  border: 3px solid black;
  height: calc(100% - 6px);
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  padding: 8px;
  transition: 0.3s opacity;

  &:hover {
    opacity: 1;
  }
}

