.dark {
  --box-border-color: rgb(68, 76, 86);
  --box-border: 1px solid var(--box-border-color);

  --bg-app: rgb(28, 33, 40);
  --bg-primary-color: 34, 39, 46;
  --bg-secondary-color: 34, 39, 46;
  --bg-hover: 60, 60, 60;

  --primary-color: 211, 212, 213;
  --secondary-color: 140, 142, 148;
  --revesed-color: 0, 0, 0;
}
