.light {
  --box-border-color: rgba(0, 0, 0, 0.24);
  --box-border: var(--box-border-width) solid var(--box-border-color);

  --bg-app: #ffffff;
  --bg-navbar: 182, 182, 182;
  --bg-primary-color: 240, 240, 240;
  --bg-hover: 255, 255, 255;
  --bg-secondary-color: 220, 220, 220;

  --primary-color: 0, 0, 0;
  --secondary-color: 115, 115, 115;
  --revesed-color: 255, 255, 255;

  --color-yellow: #ffeb3b;
  --color-green: #4caf50;
  --color-red: #f44336;
  --color-pink: #ee6677;
  --color-teal: #18BC9C;
}