.light {
  --box-border-color: rgba(0, 0, 0, 0.12);
  --box-border: 1px solid var(--box-border-color);

  --bg-app: #ffffff;
  --bg-navbar: 182, 182, 182;
  --bg-primary-color: 240, 240, 240;
  --bg-hover: 255, 255, 255;
  --bg-secondary-color: 67, 160, 71;

  --primary-color: 0, 0, 0;
  --secondary-color: 115, 115, 115;
  --revesed-color: 255, 255, 255;
}
