.StreamViewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 8px;
}

.row {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  gap: inherit;
  > * {
    width: 100%;
  }
}
