.StreamViewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.row {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  gap: inherit;

  >* {
    border: var(--box-border);
    // width: 100%;
  }
}