.RoomStreams {
  position: relative;
  height: 100%;
  margin: calc(var(--box-border-width) * -1);

  @media (max-width: 625px) {
    margin-right: 0;
  }
}

.RoomStreamsWithHiddenStream {
  padding-bottom: 51px;
}