.RoomStreams {
  border-bottom: var(--box-border);
  border-top: var(--box-border);
  padding: 8px;
}

.stream {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: var(--box-border);
  background-color: var(--bg-app);
}
