.roomlink {
  width: 300px;
  .roomlinkName {
    text-align: center;
    padding: 8px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
