@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600");

.RoomChat {
  position: relative;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex: 0 0 300px;
  height: 100%;
}

.header {
  height: var(--header-height);
  flex: 0 0 var(--header-height);
}

.collapsed {
  display: none;
}

.hidenButton {
  display: block;
  position: absolute;
  left: -16px;
  margin-right: 100%;
  height: 16px;
  width: 16px;
  background-color: red;
}

.chatMessages {
  max-height: 100%;
  height: 100%;
  overflow: hidden;

  & > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    height: 100%;
    width: 100%;
    bottom: 0;
  }

  & > ul > li {
    margin-top: 8px;
  }
}

.input {
  width: 100%;
  display: flex;
}

.message {
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &User {
    font-size: 1.25em;
    font-weight: bold;
    overflow-wrap: break-word;
  }
  &Text {
    margin-left: 4px;
    overflow-wrap: break-word;
  }
}
