.NavbarContainer {
  width: var(--navbar-size);
  flex-shrink: 0;
  border-right: var(--box-border);
  background-color: rgb(var(--bg-primary-color));

  @media (max-width: 625px) {
    width: 100%;
    height: var(--navbar-size);

    border-right: none;
    border-bottom: var(--box-border);

    .stack {
      flex-direction: row;
    }
  }
}

.stack {
  height: 100%;
}

.headerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
