.NavbarContainer {
  width: var(--navbar-width);
  flex-shrink: 0;
  border-right: var(--box-border);
  background-color: rgb(var(--bg-primary-color));
}

.stack {
  height: 100%;
}

.headerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  width: 100%;
}

.settingsWrapper {
  width: 100vw;
  height: 100vh;
}
