.list {
  overflow: auto;
}

.message {
  margin-top: 8px;

  &Group {
    margin-top: 4px;
  }

  &User {
    margin: 0;
    font-size: 1.25em;
    font-weight: bold;
    overflow-wrap: break-word;
  }

  &Text {
    margin: 0;
    margin-left: 4px;
    overflow-wrap: break-word;
    white-space: break-spaces;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}