.TicTacToeBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  .field {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 4px rgb(255, 255, 255) solid;
  }

  .disable {
    pointer-events: none;
    border: 4px gray solid;
  }
}