$HeaderHeight: var(--header-height);

.mainScreen {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-rows:
    $HeaderHeight calc(100% - $HeaderHeight - $HeaderHeight)
    $HeaderHeight;
  height: 100%;
}
