$HeaderHeight: var(--header-height);

.lobby {
  @media (max-width: 625px) {
    flex-direction: column;
  }
}

.mainScreen {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-rows:
    $HeaderHeight calc(100% - $HeaderHeight - $HeaderHeight) $HeaderHeight;
  height: 100%;

  &>* {
    position: relative;
  }

  &>::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    border-bottom: var(--box-border);
  }

  @media (max-width: 625px) {
    height: 100%;
    overflow: auto;
  }
}