.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: auto;

  main {
    overflow: auto;
    margin-top: 0;
  }
}

.list {
  margin-top: 8px;
  margin-bottom: 24px;
}

.releaseLink {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
}

.mobileWideContainer {
  @media (max-width: 625px) {
    width: 100%;
  }
}