.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: auto;
}

.releaseLink {
  display: flex;
  align-items: flex-end;
}

.container {
  @media (max-width: 625px) {
    flex-direction: column;
  }
}

.mobileWideContainer {
  @media (max-width: 625px) {
    width: 100%;
  }
}