$chatWidth: var(--chat-width);
$animationTime: 0.3s;

.header {
  right: 0px;
  position: absolute;
  transition: width $animationTime;
  width: $chatWidth;
  min-width: 64px;
  height: var(--header-height);
  border-bottom: var(--box-border);

  &.collapsed {
    right: 0;
    width: 64px;
    height: calc(var(--header-height) - var(--box-border-width));

    border-bottom: none;

    @media (max-width: 625px) {
      width: 100%;
    }
  }
}

.headerButton {
  height: var(--header-height);
  width: 100%;
  border-radius: 0;
  border-left: var(--box-border);

  @media (max-width: 625px) {
    border-left: none;
  }
}

.contextMenu {
  min-width: calc($chatWidth / 2);
}