$chatWidth: var(--chat-width);
$animationTime: 0.3s;

.header {
  &.collapsed {
    right: 0;
    width: 64px;
    height: calc(var(--header-height) - var(--box-border-width));

    .headerButton {
      border-bottom: none;
    }
  }

  right: 0px;
  position: absolute;
  transition: width $animationTime;
  width: $chatWidth;
  min-width: 64px;
  height: var(--header-height);
}

.headerButton {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border-left: var(--box-border);
  border-bottom: var(--box-border);
}

.contextMenu{
  min-width: calc($chatWidth / 2);
}